/* Reset and base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;  
}

body {
  height: 100vh;
  font-family: Arial, sans-serif;
  background-image: url('path/to/your/image.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

nav {
  background-color: #fff;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

.banner {
  background-image: url("./dunk.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 400px;
}

.banner h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: white;
  font-size: 40px;
}

ul {
  display: flex;
 justify-content: space-evenly;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
}

li {
  padding: 20px;
  height: 100%;
  color: black;
  font-size: larger;
  
}
ul li a {
  text-decoration: none;
}

ul li img {
  height: 80px;
}

li:hover {
  cursor: pointer;
  background-color: rgb(233, 233, 233);
}

header {
  display: flex;
  justify-content: center;
  padding-top: 5%;
}

h1 {
  font-size: 1.5em; /* Adjust font size as needed */
}

/* Main content and product grid styles */
main {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Fixed 3 columns */
  gap: 20px; /* Spacing between items */
  justify-items: center; /* Center items within grid cells */
  align-items: center; /* Center items vertically in cells */
  padding: 20px;
}

.product {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px; /* Increased width for products */
  height: 400px; /* Adjusted height for products */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s; /* Animation on hover */
}

.product:hover {
  transform: scale(1.05); /* Scale up the product card */
}

.product img {
  width: 100%; /* Ensure the image covers the full width of the product */
  height: 60%; /* Ensure the image covers the 60% height of the product */
  object-fit: cover; /* Maintain aspect ratio while filling the product box */
  display: block;
  border-bottom: 1px solid #ddd;
}

.title {
  font-size: 1.2em;
  margin: 10px 0;
}

.price {
  font-size: 1.2em;
  margin: 10px 0;
}

.buy-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 10px;
}

.buy-button:hover {
  background-color: #0056b3;
}
footer{
  background-color: #0056b3;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
footer i {
  color: #fff;
  font-size: 30px;
}
